<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!---
<head th:replace="fragments::head(title='Pizza dal Luigi')"></head>
--->
<head>
    <link rel="icon" th:href="@{/images/frida.ico}" type="image/x-icon">
    <title>Frituur Frieda></title>
    <link rel="stylesheet" th:href="@{/css/frieda.css}">
</head>
<body>

<h1>Frituur Frieda</h1>
<img th:src="@{/images/gevonden.png}" alt="frit" class="fullwidth">
<h2>Goede <span th:text="${moment}"></span></h2>
<!---
    <h2>Luigi heeft <span th:text="${kinderen}"></span> kinderen</h2>
    <span th:text="${kinderen} / 2"></span>
--->
<p>Aantal bezoeken: <th:block th:text="${aantalBezoeken}"></th:block>.</p>

</body>
</html>